@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

h1 {
     font-size: 48px;
     font-family: 'Baloo Chettan', cursive;
    color: #fff;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 25px;
     line-height: 24px;
    color: #fff;
}

body{
    background-image: url(../images/bg4.jpg);
    margin-left: 15px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: auto;
    height: auto;
}

main{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    align-content: center;
    border-radius: 30px;
    margin: 30px;
    margin-top: 100px;
}

header{
    width: 100%;
    height: 80px;
    background: #DC143C;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.text-img figure {
     margin: 20px;
    text-align: center;
}

.text-img figure img {
     width: 50%;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #000000;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 180px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

/**Main**/
.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #DC143C;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form h3 {
    color: white;
    text-align: left;
    margin-bottom: 25px;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #DC143C;
}

.contact-form form button {
    background: #DC143C;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #DC143C;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
    align-content: center;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 25px;
    }
    .contact-wrapper > * {
        padding: 2em;
        
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

.text-img figure {
     margin: 20px;
    text-align: center;
    margin-top: 10px;}

#main-container{
	margin: 50px;
	width: 600px;
}

table{
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	border-collapse: collapse;
	width: 195%;
}

th, td{
	padding: 20px;
    color: white;
}

thead{
	background-color: #DC143C;
	border-bottom: solid 5px #DC143C;
	color: white;
}

tr:nth-child(even){
	background-color: rgba(0, 0, 0, 1);
}

tr:hover td{
	background-color: #DC143C;
	color: white;
}

.list-form{
    text-align: center;
}

.list-form form button {
    background: #DC143C;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    margin: 20px;
    width: 30%;
    color: white;
}

.list-form form button:hover,
.list-form background: #DC143C;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #DC143C;
}
